* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/rick-y-morty-en-el-espacio_3840x2160_xtrafondos.com.jpg);
    background-size: 100%;
    background-position: bottom;
    background-size: cover;
}

header {
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #01acca;
    border-radius: 20px;
    box-shadow: 1px 10px 15px #6cf846;
    background-image: url(./assets/bg_space_seamless_1.png);
}

.img-content {
    width: 400px;
    height: 206px;
    opacity: 1;
    animation: 3s infinite alternate slidein;
}

.img-middle {
    width: 200px;
    height: 210px;
}

ul {
    list-style: none;
    display: flex;
    color: white;
    font-size: xx-large;
    border: 3px solid #01acca;
    border-radius: 20px;
}

li {
    padding: 10px;
    margin: 10px;
}

li a:hover {
    background-color: blue;
}

h1 {
    background-color: rgba(0, 0, 0, 0.8);
    /* background-image: url(./assets/bg_space_seamless_1.png); */
    text-shadow: blue;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 40px;
    border: 3px solid #01acca;
    border-radius: 20px;
}

.home-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-image: url(./assets/bg_space_seamless_1.png); */
    border: 3px solid #01acca;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes example {
    0%   {left:0px; top:100%;}
    25%  {left:100%; top:0px;}
    50%  {left:100%; top:100%;}
    75%  {left:0px; top:100%;}
    100% {left:0px; top:100%;}
}

.img-animation {
    width: 800px;
    height: 400px;
}

p {
    font-size: 60px;
    color: white;
    padding: 20px;
}