* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url(./assets/rick-y-morty-en-el-espacio_3840x2160_xtrafondos.com.jpg);
    background-size: 100%;
    background-position: bottom;
    background-size: cover;
}

header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    /* background-color: black; */
    justify-content: space-around;
    align-items: center;
    border: 4px solid #01acca;
    border-radius: 20px;
    box-shadow: 1px 10px 15px #6cf846;
    /* background-image: url(./assets/bg_space_seamless_1.png); */
}

.div-header {
    display: flex;
    width: 50%;
}

.img-content {
    width: 50%;
    /* width: 400px;
    height: 206px; */
    opacity: 1;
    animation: 3s infinite alternate slidein;
}

.img-middle {
    width: 200px;
    height: 210px;
}

ul {
    display: flex;
    color: white;
    font-size: xx-large;
    border: 3px solid #01acca;
    border-radius: 20px;
}

li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: #01acca;
}

h1 {
    background-color: rgba(0, 0, 0, 0.9);
    /* background-image: url(./assets/bg_space_seamless_1.png); */
    text-shadow:  1px 1px 2px black, 0 0 25px #6cf846, 0 0 5px #01acca;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 40px;
    border: 3px solid #01acca;
    border-radius: 20px;
    cursor: pointer;
}

.home-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    border: 3px solid #01acca;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes example {
    0%   {left:0px; top:100%;}
    25%  {left:100%; top:0px;}
    50%  {left:100%; top:100%;}
    75%  {left:0px; top:100%;}
    100% {left:0px; top:100%;}
}

.img-animation {
    width: 800px;
    height: 400px;
}

.info {
    font-size: 60px;
    color: white;
    padding: 20px;
    text-shadow: 1px 1px 2px black, 0 0 25px #6cf846, 0 0 5px #01acca;
    margin-left: 50px;
}

.characters-conteiner {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
}

.item-grid {
    background-color: rgba(0, 0, 0, 0.9);
    width: 350px;
    height: 580px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 3px solid #01acca;
    border-radius: 10px;
}

.item-grid img {
    width: 100%;
    border-radius: 50%;
}

.item-grid h2 {
    width: 100%;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #6cf846, 0 0 5px #01acca;
    cursor: pointer;
}

.item-grid p {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    color: white;
}

.episodes {
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    border: 3px solid #01acca;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.img-hbo {
    width: 50%;
    border-radius: 10px;
}

.img-flecha {
    width: 25%;
    margin-bottom: 50px;
    margin-left: 100px;
}

.info-seasons {
font-size: 60px;
color: white;
padding: 20px;
text-shadow: 1px 1px 2px black, 0 0 25px #6cf846, 0 0 5px #01acca;
}

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: #01acca;
}

footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.data-section p {
    padding: 5px;
}

.contact-section {
    text-align: center;
}

.img-github, .img-gmail {
    width: 10%;
}

.arrow-icon {
    position: fixed;
    right: 25px;
    bottom: 110px;
    width: 5%;
    height: 10%;
}